<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.r3dcraft.matbit">

    <uses-feature android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MatbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_matbit_red_1025dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_matbit_red_1025dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedActivity"
            android:label="Feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FindUserActivity"
            android:label="Find user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRecipeActivity"
            android:label="@string/title_activity_add_recipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateRecipeActivity"
            android:label="@string/title_activity_create_recipe"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".TimerService" />
    </application>

</manifest>