<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.r3dcraft.matbit">

    <uses-feature android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MatbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_matbit_red_1025dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_matbit_red_1025dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->

        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserEditActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserRecipeListActivity"
            android:label="@string/title_user_recipes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRecipeActivity"
            android:label="@string/title_activity_add_recipe"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateRecipeActivity"
            android:label="@string/title_activity_create_recipe"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Services -->

        <service android:name=".TimerService" />
        <service android:name=".MatbitMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>